html, body {
	width: 90%;
	height: 100%;
	position: relative;
}

a {
    text-decoration: none;
    color: #4697F2;
    font-weight: 600;
    transition: all 0.1s;
}

a:hover {
    font-weight: 700;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: #404040;
	font-size: 3em;
	line-height: 1em;
	padding: 0;
	margin: 0;
	width: auto;
}

span.help {
	font-family: 'Raleway', sans-serif;
	color: #B5B5B5;
	font-size: 1.1em;
	line-height: 1em;
	font-weight: 400;
	padding: 0;
	margin: 0;
    display: inline-block;
    margin-top: 1%;
}

.container {
	position: relative;
	width: 80%;
	height: 50%;
	top: 10%;
	margin: 0 auto;
}

.litesuggest-group {  
    margin-top: 5%;
    width: 100%;
}

.litesuggest-group span.desc {
    font-size: 1.1em;
    font-family: 'Raleway', sans-serif;
	color: #262626;
}

.litesuggest-group span.word {
    font-size: 1em;
    color: #4697F2;
}

.litesuggest-group input[type=text] {
	font-size: 1.7em;
	border: none;
	font-family: 'Roboto', sans-serif;
	color: #404040;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 8px;
    padding-top: 25px;
	box-sizing: border-box;
	border-bottom: 1px solid #B5B5B5;
	transition: border-color 0.4s;
}

.litesuggest-group input[type=text]:focus {
	outline: none;
	border-color: #404040;
}

.litesuggest-group .litesuggest-suggestions {
	font-family: 'Roboto', sans-serif;
}

pre {
    color: #696969;
}